:root{
    --fondos: #05050e;
    --fondo1:#0b0b0b;
    --primario: #2d2d2d;
    --secundario: #d34e64;
    --secundario1: #dd2947;
    --base: #925ff0;
    --base1: #8c11e4;
    --verde: #1f7c43;
    --verde1: #a3fda1;
    --blanco:#d1d1d1;
    --blanco1:#ffffff;
    --rosita: #bb82da;
    --rosita1: #4F2B4C;
    /*--pantalla: #406862; */
    --pantalla: #71a1a0; 

}

html{
    font-family:Suse;
    background-color: var(--fondo1);
    color: var(--blanco);
}
/*Todo lo que no trate de texto y imagnees, hay que tomarlo desde el contenedor*/
.container_nav{
    
    padding: 1rem;
    /*Pega la barra en la parte de arriba*/
    position: sticky;
    top:0;
    background-color: var(--primario);
}
a{
    font-family: Suse;
    text-decoration: none;
    color: var(--blanco);
    
}


/*Menu drop para login*/

.cascada {
  position: relative;
  display: inline-block;
}

.cascadacont {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: none;
  position: absolute;
  z-index: 1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.cascadacont a{
  padding: 2rem, 2rem;
  display: block;
  
}

.cascadacont:hover .cascadacont{
  display: block;
}
/*Alinea al centro los enlaces*/
.navbar{
    
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    background-color: var(--primario);
}

.footer{
    background-color: var(--fondos);
    color: #d1d1d1;
    margin-bottom: 0%;
    padding: 1rem;
}
.footer_logo{
    font-size: 2rem;
}

/*Globales iternos*/
.navbar,.logo{
    font-family: "Fjalla One", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--secundario);
}

.navbar{
    font-family: Fjalla;
    color:blueviolet;
}

.parrafo{
    margin: 1rem;
  }


/*Calculadora*/
.contenedorCalc{
  background-color: var(--primario);
  margin: 3rem;
  padding: 1rem;
  border-radius: 1.5rem;
  align-items: center;
  max-width: 800px;
  

  @media (min-width: 800px) {
    
    /*align-items: center;*/
    margin: 3rem auto; /*Centrar la calculadora*/
    
    /*Pantalla completa*/
    
    
    
  }

  @media (max-width: 864px) {
    
    /*A partir de aqui corregir porque mantiene el tamaño de los numeros pero no el fondo de la calculadora*/
  }
}

.grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  
}  

/*Botones de operaciones*/
.buttons{
  font-size: 2rem;
  margin: .4rem;
  padding: 2rem;
  /*padding: 0rem, 1rem, 0rem, 1rem;*/
  border-radius: 5px;
  background-color: var(--rosita);
  border: none;
  cursor: pointer;
  
  @media (max-width:900px) {
    background-color: var(--rosita);
    
  }
}

.buttons:hover{
  background-color: var(--rosita1);
  color: var(--blanco);
}
/*boton igual*/
.buttons-i{
  font-size: 2rem;
  margin: .4rem;
  padding: 2rem;
  /*padding: 0rem, 1rem, 0rem, 1rem;*/
  border-radius: 5px;
  background-color: var(--secundario);
  border: none;
  cursor: pointer;
}

.buttons-i:hover{
  background-color: var(--secundario1);
  color: var(--blanco1);
}

/*botones de numeros*/
.buttons-n{
  font-size: 2rem;
  margin: .4rem;
  padding: 2rem;
  /*padding: 0rem, 1rem, 0rem, 1rem;*/
  border-radius: 5px;
  background-color: var(--base);
  border: none;
  cursor: pointer;
}

.buttons-n:hover{
  background-color: var(--base1);
  color: var(--blanco1);
}

.buttons,.buttons-i,.buttons-n{
  @media (max-width:900px) {
    margin-top: 0.1rem;
    padding: 0.7rem;
  }
}
/*.......................................*/
.containerForm{
  display: flex;
  padding-left: 1rem;
  padding-bottom: 1rem;
  
}
.formulario{
  background-color: var(--verde1);
  border-radius: 1.5rem;
}

/*GridPantalla*/

.pantalla{
  background-color: var(--pantalla);
  border-radius: 5px;
  padding: 4rem; /*Espaciado entre numero y pantalla*/
  margin-left: 1rem; /*Espaciado entre pantalla y bordes de calculadora*/
  margin-right: 1rem; 
  font-size: 2rem;
}
